html, body {
  	height:100%;
  	color: #000;
  	background: #FFFFFF;
  	word-wrap: break-word;
  	font-size: 12px;
  	font-family: Verdana, Arial, Sans-Serif;
  	margin: 0;
  	text-align: center;
}
#wrapper {
  	height:auto !important;
  	height:100%;
  	min-height:100%;
  	width: 1024px;
  	margin: 0 auto;
  	text-align: left;
}
#header {
  	height:140px;
  	background: #fff;
  	padding-top: 40px;
}
#container {
	margin-top: 20px;
  }
#center {
  	margin:0px 200px 0px 200px;
  	background: #fff;
}
#left {
  	float:left;
  	width:200px;
  	background: #fff;
}
#right {
  	float:right;
  	width:200px;
  	background: #fff;
}
img.c1 {
    max-width: 30%;
    height: auto;
    vertical-align: middle;
}
#footer {
  	width: 1024px;
  	margin: 0 auto;
  	text-align: left;
  	height:100px;
  	margin-top:-100px;
  	background: #4a90d9;
}
.clear {
  	clear:both;
}
#space {
  	height:100px;
}
.logo {
	height: 104px;
	width: 390px;
	background: url("image/logo.png") no-repeat;
	display:block;
}
#menu{
	display: block;
	float:left;
	background:#4a90d9;
	height:36px;
	width: 100%;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
#menu ul{
	list-style:none;
	margin-left: -40px;
	width: 100%;
}
#menu li{
	list-style:none;
	float:left;
	border-right:1px solid #fff;
}
#menu li a{
	color: #fff;
	text-transform:uppercase;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	padding:0 25px;
}
#menu li a:hover{
	color:#b2b4b5;
}